# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app


# Build
*.elf
*.hex
*.bin
*.map
*.lst
*.d
.depend

# uVision * project
*.uvgui.m
*.dep
bin/

# Common
*.bak
*.log
*.kate-swp
/proj/imutest/MDK-ARM/IMU.uvgui.Max
/proj/FreeIMU/MDK-ARM/IMU.uvguix.Max
/proj/FreeIMU/MDK-ARM/IMU.uvproj.saved_uv4
